---
import { footer } from '@site';
---

<footer>
  <div class="wrapper">
    <div class="logo">
      <img src="/images/logo_dark.png" alt="logo firmeasy" />
    </div>
    <div class="menu">
      <ul>
        {
          footer.menu.map((item) => (
            <li>
              <a href={item.link}>{item.name}</a>
            </li>
          ))
        }
        <li class="socials">
          {
            footer.socials.facebook && (
              <a href={footer.socials.facebook} target="_blank">
                <i>
                  <svg width="32" height="32" viewBox="0 0 24 24">
                    <path
                      fill="currentColor"
                      d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"
                    />
                  </svg>
                </i>
              </a>
            )
          }
          {
            footer.socials.youtube && (
              <a href={footer.socials.youtube} target="_blank">
                <i>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M12.244 4c.534.003 1.87.016 3.29.073l.504.022c1.429.067 2.857.183 3.566.38c.945.266 1.687 1.04 1.938 2.022c.4 1.56.45 4.602.456 5.339l.001.152v.174c-.007.737-.057 3.78-.457 5.339c-.254.985-.997 1.76-1.938 2.022c-.709.197-2.137.313-3.566.38l-.504.023c-1.42.056-2.756.07-3.29.072l-.235.001h-.255c-1.13-.007-5.856-.058-7.36-.476c-.944-.266-1.687-1.04-1.938-2.022c-.4-1.56-.45-4.602-.456-5.339v-.326c.006-.737.056-3.78.456-5.339c.254-.985.997-1.76 1.939-2.021c1.503-.419 6.23-.47 7.36-.476zM9.999 8.5v7l6-3.5z"
                    />
                  </svg>
                </i>
              </a>
            )
          }
          {
            footer.socials.linkedin && (
              <a href={footer.socials.linkedin} target="_blank">
                <i>
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.93994 4.99999C6.93968 5.53043 6.72871 6.03903 6.35345 6.41391C5.97819 6.7888 5.46938 6.99926 4.93894 6.99899C4.40851 6.99873 3.89991 6.78776 3.52502 6.4125C3.15014 6.03724 2.93968 5.52843 2.93994 4.99799C2.94021 4.46756 3.15117 3.95896 3.52644 3.58407C3.9017 3.20919 4.41051 2.99873 4.94094 2.99899C5.47137 2.99926 5.97998 3.21023 6.35486 3.58549C6.72975 3.96075 6.94021 4.46956 6.93994 4.99999ZM6.99994 8.47999H2.99994V21H6.99994V8.47999ZM13.3199 8.47999H9.33994V21H13.2799V14.43C13.2799 10.77 18.0499 10.43 18.0499 14.43V21H21.9999V13.07C21.9999 6.89999 14.9399 7.12999 13.2799 10.16L13.3199 8.47999Z"
                      fill="#01022E"
                    />
                  </svg>
                </i>
              </a>
            )
          }
          {
            footer.socials.instagram && (
              <a href={footer.socials.instagram} target="_blank">
                <i>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
                    />
                  </svg>
                </i>
              </a>
            )
          }
        </li>
      </ul>
    </div>
    <span> Copyright © 2024. Firmeasy </span>
  </div>
</footer>
<style lang="scss">
  @import '../../assets/breakpoints.scss';
  footer {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--dark-color);
    color: white;
    .wrapper {
      max-width: var(--container-max-width);
      width: 100%;
      height: 100%;
      padding: 2rem var(--container-padding);
      box-sizing: border-box;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      flex-wrap: wrap;
      .logo {
        img {
          height: 36px;
          @include screen('sm') {
            height: 28px;
          }
        }
      }
      .menu {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        height: 100%;
        font-size: var(--text-size);
        font-weight: 500;
        ul {
          list-style: none;
          display: flex;
          align-items: center;
          height: 100%;
          gap: 1.5rem;
          flex-wrap: wrap;
          li {
            a {
              color: white;
              text-decoration: none;
            }
            &.socials {
              display: flex;
              align-items: center;
              gap: 1rem;
              border-radius: 25px;
              padding: 0.25rem 0.5rem;
              background-color: var(--bg-color);
              i {
                height: 16px;
                width: 16px;
                display: flex;
                align-items: center;
                // @include screen('sm') {
                //   height: 20px;
                //   width: 20px;
                // }
                svg {
                  color: var(--text-color);
                  height: 18px;
                  width: 18px;
                }
              }
            }
          }
        }
      }
      span {
        font-size: var(--text-size);
        font-weight: 500;
        opacity: 0.7;
      }
    }
  }
</style>
