---
import BackgroundPattern from '../shared/BackgroundPattern.astro';
import { header } from '@site';
import ModalVideo from './ModalVideo.astro';
---

<script>
  import '@justinribeiro/lite-youtube';
</script>
<header>
  <BackgroundPattern />
  <div class="wrapper">
    <div class="text">
      <h1>{header.title}</h1>
      <h2>{header.description}</h2>
      <div class="actions">
        {
          header.button1.text && (
            <a
              href={header.button1.link}
              class="button gradient transition-up"
            >
              {header.button1.text}
            </a>
          )
        }
        {
          header.button2.text && (
            <ModalVideo videoId={header.button2.youtubeVideoId} />
          )
        }
      </div>
    </div>
    <div class="image">
      <div class="image image-wrapper">
        <img src={header.image} alt="firmeasy" />
      </div>
    </div>
  </div>
</header>
<style lang="scss">
  @import '../../assets/breakpoints.scss';
  header {
    position: relative;
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: var(--container-max-width);
      width: 100%;
      height: 100%;
      min-height: 560px;
      padding: 0 var(--container-padding);
      box-sizing: border-box;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      gap: var(--grid-gap);
      @include screen('st') {
        flex-direction: column;
        padding: var(--container-padding-y) var(--container-padding);
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        color: var(--text-color);
        @include screen('st') {
          text-align: center;
          align-items: center;
        }
        h1 {
          font-size: var(--title-size-xl);
          font-weight: 600;
          text-wrap: balance;
          max-width: 500px;
          line-height: var(--title-line-height-xl);
        }
        h2 {
          font-size: var(--title-size);
          line-height: var(--title-line-height);
          text-wrap: pretty;
          max-width: 520px;
          font-weight: 300;
        }
        .actions {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: 1rem;
          @include screen('md') {
            margin-bottom: 1rem;
          }
        }
      }
      .image {
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: var(--shadow);
        padding: 1rem;
        background-color: white;

        .image-wrapper {
          box-shadow: none;
          padding: 0;
          border-radius: var(--border-radius-sm);
        }
        img {
          display: block;
          width: 100%;
          max-width: 520px;
        }
      }
    }
  }
</style>
