---
import ChipRecommended from '../shared/ChipRecommended.astro';

export interface Props {
  buttonText?: string;
  link: string;
  image?: string;
  title: string;
  description: string;
}
const { buttonText, image, link, title, description } = Astro.props;
---

<article class=`article-ad ${!buttonText ? 'transition-up' : ''}`>
  {!buttonText && link && <a href={link} class="overlay-link" ></a>}
  {
    image && (
      <div class="image">
        <img src={image} alt="ad firmeasy" />
      </div>
    )
  }
  <ChipRecommended />
  <h1>{title}</h1>
  <p>{description}</p>
  {
    buttonText && (
      <a
        href={link || '/'}
        class="button gradient ad-link transition-up"
      >
        {buttonText}
      </a>
    )
  }
</article>

<style>
  article.article-ad {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap-sm);
    font-size: var(--text-size);
    color: var(--text-color);
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: var(--card-padding-y) var(--card-padding);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    .overlay-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: transparent;
    }
    .image {
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius-sm);
      overflow: hidden;
      box-shadow: var(--shadow-light);
      margin-bottom: 0.5rem;
      img {
        width: 100%;
        border-radius: var(--border-radius-sm);
        aspect-ratio: 300/183;
      }
    }
    h1 {
      font-size: var(--text-size-lg);
      line-height: var(--text-line-height);
      font-weight: 500;
    }
    p {
      font-size: var(--text-size);
      line-height: var(--text-line-height);
    }
    a.ad-link {
      width: 100%;
      max-width: 120px;
      margin-top: 0.5rem;
    }
  }
</style>
