---
import IconFacebook from '../icons/IconFacebook.astro';
import IconLinkedin from '../icons/IconLinkedin.astro';
import IconX from '../icons/IconX.astro';
import {
  FacebookShareButton,
  TwitterShareButton,
  LinkedInShareButton,
} from 'astro-social-share';

const BUTTONS = [
  TwitterShareButton,
  FacebookShareButton,
  LinkedInShareButton,
];

export interface Props {
  title: string;
  date: string;
  url: string;
  resume: string;
}

const { title, date, resume } = Astro.props;
---

<div class="article-header">
  <h1>
    {title}
  </h1>
  <date>{date}</date>
  <div class="social-share">
    <FacebookShareButton
      title={title}
      description={resume}
      via="firmeasy"
    >
      <i>
        <IconFacebook />
      </i>
    </FacebookShareButton>
    <TwitterShareButton
      title={title}
      description={resume}
      via="firmeasy"
    >
      <i>
        <IconX />
      </i>
    </TwitterShareButton>
    <LinkedInShareButton
      title={title}
      description={resume}
      via="firmeasy"
    >
      <i>
        <IconLinkedin />
      </i>
    </LinkedInShareButton>
  </div>
</div>

<style>
  .article-header {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);
    padding-bottom: var(--card-padding-y);
    margin-bottom: var(--card-padding-y);
    border-bottom: 1px solid var(--border-color);
    h1 {
      font-size: var(--title-size-lg);
      font-weight: 600;
      text-wrap: balance;
      max-width: 500px;
      line-height: var(--title-line-height-lg);
      color: var(--text-color);
    }
    date {
      font-size: var(--text-size-lg);
      font-weight: 400;
      color: var(--text-color);
      margin-bottom: 0.5rem;
    }
    .social-share {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      a {
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border: 1px solid var(--border-color);
          border-radius: 50%;
          background-color: white;
          svg {
            width: 20px;
            height: 20px;
          }
        }
        &[data-size='sm'] {
          i {
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
