---
import Alert from 'src/components/shared/Alert.astro';
import Footer from '../components/shared/Footer.astro';
import Nav from '../components/shared/Nav.astro';
import { ViewTransitions } from "astro:transitions";
import { head } from '@site';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={head.description} />
    <meta name="robots" content="index, nofollow, nocache" />
    <link rel="canonical" href="https://firmeasy.legal" />
    <meta property="og:title" content="Firmeasy Legal" />
    <meta property="og:description" content={head.description} />
    <meta name="keywords" content={head.keywords} />
    <meta property="og:url" content="https://firmeasy.legal" />
    <meta property="og:site_name" content="Firmeasy Legal" />
    <meta property="og:locale" content="es" />
    <meta
      property="og:image"
      content="https://firmeasy.legal/preview.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Firmeasy Legal Cover" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Firmeasy Legal" />
    <meta name="twitter:description" content={head.description} />
    <meta
      name="twitter:image"
      content="https://firmeasy.legal/preview.png"
    />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />
    <meta name="twitter:image:alt" content="Firmeasy Legal Cover" />
    <meta name="twitter:image:type" content="image/png" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Alert />
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --container-max-width: 1200px;
    --container-max-width-md: 768px;
    --container-padding: 1.5rem;
    --container-padding-y: 6rem;

    --border-color-dark: rgb(0, 0, 0, 0.4);
    --border-color: rgb(0, 0, 0, 0.1);
    --border-color-light: rgb(0, 0, 0, 0.07);
    --text-color: #01022e;
    --dark-color: var(--text-color);
    --accent-color: #00a280;
    --tertiary-color: #4646a7;
    --secondary-color: #01a182;
    --bg-color: #f7f7f7;
    --bg-gradient: linear-gradient(
      90deg,
      var(--accent-color) 0%,
      var(--secondary-color) 30%,
      var(--tertiary-color) 100%
    );

    --bg-gradient-text: linear-gradient(
      90deg,
      var(--text-color) 0%,
      var(--accent-color) 100%
    );

    --font: 'IBM Plex Sans', sans-serif;
    --nav-height: 70px;

    --text-size-sm: 0.75rem;
    --text-size: 0.9rem;
    --text-size-lg: 1rem;
    --title-size-xl: 2.2rem;
    --title-size-lg: 1.8rem;
    --title-size: 1.1rem;
    --title-line-height-xl: 1.2;
    --title-line-height-lg: 1.2;
    --title-line-height: 1.4;
    --text-line-height: 1.4;

    --border-radius: 16px;
    --border-radius-sm: 8px;
    --shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    --shadow-light: 0 2px 15px 0 rgba(0, 0, 0, 0.025);
    --grid-gap: 3rem;
    --card-gap-sm: 0.5rem;
    --card-gap: 1rem;
    --card-gap-lg: 1.5rem;
    --card-padding: 1.5rem;
    --card-padding-y: 2rem;
    --title-gap: 0.75rem;

    --plan-padding-x: 2.5rem;
    --plan-padding: 2rem var(--plan-padding-x);
  }

  @media screen and (max-width: 1200px) {
    :root {
      --grid-gap: 2rem;
      --container-max-width: 1024px;
    }
  }
  @media screen and (max-width: 1024px) {
    :root {
      --container-max-width: 1024px;
    }
  }

  @media screen and (max-width: 768px) {
    :root {
      --grid-gap: 1.5rem;
    }
  }
  @media screen and (max-width: 576px) {
    :root {
      --grid-gap: 1rem;
      --text-size: 0.8rem;
      --title-size-xl: 1.6rem;
      --title-size-lg: 1.4rem;
      --title-size: 0.95rem;
      --container-padding: 1.25rem;
      --container-padding-y: 4rem;
      --card-padding: 1.25rem;
      --card-padding-y: 1.5rem;
      --plan-padding-x: 1.25rem;
      --title-gap: 0.25rem;
      --text-size-lg: 0.95rem;
    }
  }

  *,
  body {
    font-family: var(--font);
  }

  button,
  a.button {
    height: 40px;
    border-radius: 25px;
    padding: 0 1rem;
    font-weight: 500;
    font-size: var(--text-size);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    position: relative;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &.outline {
      background-color: white;
      border: 1px solid var(--text-color);
      color: var(--text-color);
      box-sizing: border-box;
    }

    &.gradient {
      background: var(--bg-gradient);
      color: white;
      border: none;
      &:before {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 50%;
        width: 80%;
        height: 20%;
        transform: translate(-50%, 100%);
        background: var(--bg-gradient);
        /* background:red; */
        z-index: -1;
        border-radius: 25px;
        filter: blur(8px);
      }
    }
    &.tiny {
      height: 32px;
      padding: 0 0.75rem;
      font-size: var(--text-size-sm);
    }
  }

  .transition-up {
    transition: all 0.3s ease;
    transform: translate(0, 0);
    &:hover {
      transform: translate(3px, -3px);
    }
    &:is(button, a):hover {
      transform: translate(1px, -1px);
    }
  }

  .truncate-text-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    display: box !important;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: var(--text-line-height);
  }

  span.chip_recommended {
    font-weight: 400;
    border: 1px solid var(--border-color-light);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 0 0.5rem;
    height: 1.5lh;
    p {
      font-size: var(--text-size-sm);
      background: var(--bg-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      user-select: none;
    }
  }
</style>
